@import "tailwindcss";
:root {
  --font-space-grotesk: "Space Grotesk", sans-serif;
}
body {
  font-family: var(--font-space-grotesk);
}
* {
  box-sizing: border-box;
}
.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 20px;

}
html {
  scroll-behavior: smooth;
}

